/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 100vh;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 100vh;
  background-color: #EDEDED;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
 /*  min-width: 50vw;
 height: 60vh; */
}

.carousel-control.left, .carousel-control.right{
  background-image: none;
}

.carousel-indicators{
  display: none;
}

nav.navbar.navbar-inverse{
  margin-top: 1%;
  background-color: transparent;
  border: none;
}

.navbar-wrapper .container{
  width: 100%;
}

.navbar-nav li{
  width: 12.5%;
}

.navbar-nav li a{
   font-size: 20px;
}


.navbar-nav li a:hover {
    color: #6D831C !important;
}

.navbar-header img{
    height: 66px;
}




