<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Website For Sundaram Furniture, Khamgaon">
    <meta name="author" content="Harsh">
    <link rel="icon" href="../../images/logo.ico">
    <title>Sundaram Furniture</title>
    <!-- Bootstrap core CSS -->
    <link href="../../css/lib/bootstrap.min.css" rel="stylesheet">
    <!--     <link href="../../css/fonts/" rel="stylesheet"> -->
    <link rel="stylesheet" href="../../css/font-awesome-4.7.0/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <link href="../../css/style.css" rel="stylesheet">
    <link href="../../css/media.css" rel="stylesheet">
</head>
<!-- NAVBAR
================================================== -->

<body>
    <div class="container-fluid">
        <header class="row">
            <nav class="navbar navbar-default home-page-navbar">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#home-page-navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#"><img src="../../images/logo.jpg" width="50"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="home-page-navbar">
                    <ul class="nav navbar-nav">
                        <li><a href="../../index.html">HOME</a></li>
                        <li><a href="../aboutUs/aboutUs.html">ABOUT US</a></li>
                        <li class="dropdown">
                            <a class="dropbtn">PRODUCT RANGE</a>
                            <div class="dropdown-content">
                                <a id="almirah" href="./wardrobes.html">Wardrobes</a>
                                <a id="sofa" href="./sofaSet.html">Sofa Set</a>
                                <a id="diningSet" href="./diningSets.html">Dining Set</a>
                                <a id="beds" href="#">Beds</a>
                                <a id="tables" href="./tables.html">Tables</a>
                                <a id="officeChairs" href="./officeChairs.html">Office Chairs</a>
                                <a id="homeChairs" href="./homeChairs.html">Home Chairs</a>
                            </div>
                        </li>
                        <li><a href="../contacts/contacts.html">CONTACTS</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse div-->
            </nav>
        </header>
        <section class="row beds">
        </section>
        <footer id="footer">
            <div class="row footer-items">
                <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
                    <h3>About Us</h3>
                    <p>Sundaram Furniture is a company providing worldclass, futuristic rangeof modularoffice furniture to all the segments in India - Top MNCs, Corporate Giants,GovernmentOrganizations, Banks andFinancialinstitutions, EducationalInstitutions,Hotels, Hospitals, NGOs etc. Office Furniture from Futuristic is ergonomically designedcoming with adeep understanding of ergonomicfundamentals, aesthetics, functionalvalue and durability.</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                    <h3 class="text-center">Quick Links</h3>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="./views/aboutUs/aboutUs.html">Company Profile</a></li>
                        <li><a href="./views/productRange/wardrobes.html">Product Range</a></li>
                        <li><a href="./views/contacts/contacts.html">Contacts</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h3 class="text-center">Our Products</h3>
                    <ul>
                        <li><a href="#">Wardrobes</a></li>
                        <li><a href="#">Sofa Sets</a></li>
                        <li><a href="#">Dining Set</a></li>
                        <li><a href="#">Beds</a></li>
                        <li><a href="#">Tables</a></li>
                        <li><a href="#">Office Chairs</a></li>
                        <li><a href="#">Home Chairs</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h3>Contact</h3>
                    <p>
                        <span class="glyphicon glyphicon-map-marker"></span> Sundaram Furniture, Balaji Plots, Khamgaon - 444303, Maharashtra
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-earphone"></span>+91-9765569262/(07263)255162
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-envelope"></span>
                        <input type="email" name="emailId" value="Your email address">
                    </p>
                    <p>Email us ! We will keep posted with our latest product release</p>
                    <div class="social-media">
                        <a href="https://www.facebook.com/SundaramFurnitureMall/?fref=ts"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="../../js/lib/jquery.min.js"><\/script>')
    </script>
    <script src="../../js/lib/bootstrap.min.js"></script>
    <script src="../../js/populateDataScripts/populateBedsData.js"></script>
</body>

</html>
