<footer id="footer">
            <div class="row footer-items">
                <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
                    <h3>About Us</h3>
                    <p>Sundaram Furniture is a company providing worldclass, futuristic rangeof modularoffice furniture to all the segments in India - Top MNCs, Corporate Giants,GovernmentOrganizations, Banks andFinancialinstitutions, EducationalInstitutions,Hotels, Hospitals, NGOs etc. Office Furniture from Futuristic is ergonomically designedcoming with adeep understanding of ergonomicfundamentals, aesthetics, functionalvalue and durability.</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                    <h3 class="text-center">Quick Links</h3>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="./views/aboutUs/aboutUs.html">Company Profile</a></li>
                        <li><a href="./views/productRange/wardrobes.html">Product Range</a></li>
                        <li><a href="./views/contacts/contacts.html">Contacts</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h3 class="text-center">Our Products</h3>
                    <ul>
                        <li><a href="#">Wardrobes</a></li>
                        <li><a href="#">Sofa Sets</a></li>
                        <li><a href="#">Dining Set</a></li>
                        <li><a href="#">Beds</a></li>
                        <li><a href="#">Tables</a></li>
                        <li><a href="#">Office Chairs</a></li>
                        <li><a href="#">Home Chairs</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h3>Contact</h3>
                    <p>
                        <span class="glyphicon glyphicon-map-marker"></span> Sundaram Furniture, Balaji Plots, Khamgaon - 444303, Maharashtra
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-earphone"></span>+91-9765569262/(07263)255162
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-envelope"></span>
                        <input type="email" name="emailId" value="Your email address">
                    </p>
                    <p>Email us ! We will keep posted with our latest product release</p>
                    <div class="social-media">
                        <a href="https://www.facebook.com/SundaramFurnitureMall/?fref=ts"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </footer>